.menu {
    margin: 0;
    width: 100%;
    height: 60px;
    background: #1e90ff;
    font-size: 20px;
}
.menu img {
    width: 45px;
    margin-top: 5px;
    margin-left: 41%;

}

.homeIcon {
    margin-left: -36%;
}