.menu {
    margin: 0;
    width: 100%;
    height: 60px;
    background: #1e90ff;
    font-size: 20px;
}
.menu ul {
    list-style: none; 
    margin-left: 2%;
    display: flex;
}
.menu ul li {
    width: 11.7%;
    float: left;
}
.menu a{
    padding: .8rem;
    display:inline-block;
    text-decoration: none;
    align-items:center;
    text-align: center;

    background-color: #1e90ff;
    color: aliceblue;
    transition: 0.35s;
}
.menu a:hover {
    background-color: #f4f4f4;
    color: black;
}
.menu img {
    width: 14.5555%;
}
.space {
    color: #1e90ff;
    cursor: default;
}
.iconMenu{
    margin-top: 4%;
}
/* 
.loginButton {
    
}  */
