
@media (min-width: 1500px) {
.aside {
    margin-top: 60px;
    width: 20%;
    justify-content: center;
    margin-left: 68%;
    position: absolute;
    display: flex;
}

.box {
    height: 50vh;
    margin-top: 10%;
    border: 1px lightgray solid;
    width: 100%;
    margin-left: 10%;
    margin-right: 10%;
    background-color: rgb(238, 238, 238);
    border-radius: 5px;
    font-size: 10pt;
}
.box img {
    width: 10%;
    text-align: center;
}
.coin {
    margin-top: 10px;
    justify-self: center;
}
.coin p {
    color: steelblue;
}
.coin .coin-name {
    color:royalblue;
    font-family: 'Encode Sans SC',sans-serif;
}
.coin .row {
    padding: 4px;
    background-color: #fff;
    width: 90%;
    margin: 10px;
    margin-left: 20px;
    border-radius: 5px;
    box-shadow: 4px 2px;
}
.coin .row:hover{
    box-shadow: 0 0 15px 0px rgba(0,0,0,0.8);
}
}
@media only screen and (max-width: 1200px){

    .aside {
        margin-top: 60px;
        width: 20%;
        justify-content: center;
        margin-left: 81%;
        position: absolute;
        display: flex;
    }
    
    .box {
        height: 50vh;
        margin-top: 10%;
        border: 1px lightgray solid;
        width: 100%;
        margin-left: 10%;
        margin-right: 10%;
        background-color: rgb(238, 238, 238);
        border-radius: 5px;
        font-size: 10pt;
    }
    .box img {
        width: 10%;
        text-align: center;
    }
    .coin {
        margin-top: 10px;
        justify-self: center;
    }
    .coin p {
        color: steelblue;
    }
    .coin .coin-name {
        color:royalblue;
        font-family: 'Encode Sans SC',sans-serif;
    }
    .coin .row {
        padding: 4px;
        background-color: #fff;
        width: 90%;
        margin: 10px;
        margin-left: 10px;
        border-radius: 5px;
        box-shadow: 4px 2px;
    }
    .coin .row:hover{
        box-shadow: 0 0 15px 0px rgba(0,0,0,0.8);
    }
    .aside .box .coin{

        display: none;
        background-color: transparent;
        border: none;
    }

}

@media only screen and (max-width: 767px){

    .aside {
        margin-top: 60px;
        width: 20%;
        justify-content: center;
        margin-left: 81%;
        position: absolute;
        display: flex;
    }
    
    .box {
        height: 50vh;
        margin-top: 10%;
        border: 1px lightgray solid;
        width: 100%;
        margin-left: 10%;
        margin-right: 10%;
        background-color: rgb(238, 238, 238);
        border-radius: 5px;
        font-size: 10pt;
    }
    .box img {
        width: 10%;
        text-align: center;
    }
    .coin {
        margin-top: 10px;
        justify-self: center;
    }
    .coin p {
        color: steelblue;
    }
    .coin .coin-name {
        color:royalblue;
        font-family: 'Encode Sans SC',sans-serif;
    }
    .coin .row {
        padding: 4px;
        background-color: #fff;
        width: 90%;
        margin: 10px;
        margin-left: 10px;
        border-radius: 5px;
        box-shadow: 4px 2px;
    }
    .coin .row:hover{
        box-shadow: 0 0 15px 0px rgba(0,0,0,0.8);
    }
    .aside .box .coin{

        display: none;
    }
    
}
