.menu {
    margin: 0;
    width: 100%;
    height: 60px;
    background: #1e90ff;
    font-size: 20px;
}
.menu ul {
    margin-block-start: 0;
    list-style: none; 
    display: flex;
    width: 100%;
    justify-content: center;
    padding-inline-start: 0px;
}
.menu ul li {
    width: 13.2%;
    float: left;
    align-items:center;
    text-align: center;
}
.menu a{
    padding: .8rem;
    display:flex;
    text-decoration: none;
    align-items:center;
    text-align: center;
    justify-content: center;

    background-color: #1e90ff;
    color: aliceblue;
    transition: 0.35s;
}
.menu a:hover {
    background-color: #f4f4f4;
    color: black;
}
.menu img {
    width: 13.4%;
}
.iconMenu{
    justify-self: flex-start;
}

