/*menu pronto mas ainda nao responsivo*/
.menu {
    margin: 0;
    width: 100%;
    height: 60px;
    background: #1e90ff;
    font-size: 20px;
}
.menu ul {
    list-style: none; 
    margin-left: 25%;

}
.menu ul li {
    width: 250px;
    float: left;
}
.menu a{
    background-color: #1e90ff;
    padding: 4px;
    display: block;
    text-decoration: none;
    text-align: center;
    color: aliceblue;
    transition: 0.35s;
}
.menu a:hover {
    background-color: #f4f4f4;
    color: black;
}
.iconMenu {
    margin-left:-32%;
}
.menu img {
    margin-top: 13px;
    width: 35px;
}
